<phpunit
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	bootstrap="phpunit.php"
	>
	<testsuites>
		<testsuite name="Beautiful Asset">
			<file>test/AssetTest.php</file>
			<file>test/AssetGroupTest.php</file>
			<!--
			<file>test/AssetCacheTest.php</file>
			-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">classes</directory>		
		</whitelist>
	</filter>
	<logging>
		<log
			type="coverage-html"
			target="test/coverage"
			charset="UTF-8"
			yui="true"
			highlight="true"
			lowUpperBound="35"
			highLowerBound="70"
			/>
		<log
			type="coverage-clover"
			target="test/coverage.xml"
			/>	 
		<log
			type="junit"
			target="test/junit.xml"
			logIncompleteSkipped="false"
			/>
	</logging>
</phpunit>